@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <ul class="nav-links">
        <li>Home</li>
        <li><a href="/dishes/new">Add a Dish</a></li>
    </ul>
</div>
<div>
    <h2>Check out some recent dishes</h2>
    <hr>
    @foreach(Dish d in ViewBag.AllDishes)
    {
        <p><a href="dishes/@d.DishId">@d.Name</a> by @d.Chef</p>
    }
</div>
